.lab_group{
    display: flex;
    justify-content: center;
    /* margin: 20px; */
}
.lab_card{
    position: absolute;
    /* display: none; */
    margin: auto;
    width: 236px;
    height: 236px;
    background-color: rgba(122, 76, 55, 1);
    color: rgba(224, 209, 202, 1);
    text-align: center;
    visibility: hidden;
    /* transform: translateX(200px); */
}
/* .lab_card:hover{
    animation-name: yo;
    animation-duration: 0.4s;
    animation-iteration-count: 1; 
} */
.lab>img:hover+.lab_card{
    visibility: visible;
    cursor: pointer;
    transform: translateX(-200px);
    transition: all 0.7s ease;
    /* display: block; */
}
.lab_card h3{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    text-decoration: underline;
}
.lab_card a{
    text-decoration: none;
    color: rgba(224, 209, 202, 1);
    cursor: pointer;
}
.lab{
    /* position: relative; */
    display: flex;
    margin: 40px;
}
/* .lab_card{
    transition-duration: 0.4s;
    transition-property: background-color, color, width ,height;
    transition-timing-function: ease;
} */
 /* @keyframes yo{
    from{
        width: 0px;
    }
    to{
        width: 236px;
    }
 } */