.lab{
    position: absolute;
    display: flex;
}
.lab img{
    width: 236px;
    height: 236px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    visibility: visible;
    transition-duration: 0.1s;
    transition-property: visibility;
    transition-timing-function: ease;
}
.lab_card{
    background-color: rgba(145, 91, 66, 1);
    color: rgba(224, 209, 202, 1);
    border-radius: 50%;
    width: 236px;
    height: 236px;
    font-size: 40px;
    text-align: center;
    line-height: 236px;
    cursor: pointer;
}
@keyframes img_none{
    from{
        opacity: 100%;
    }to{
        opacity: 0%;
    }
}
.lab img:hover{
    animation-name: img_none;
    animation-duration: .3s;
    animation-fill-mode: both;
}
#romand{
    /* margin-left: 75rem;
    margin-top: 3rem; */
    margin-left: 10rem;
    margin-top: 40rem;
}
#ce{
    /* margin-left: 95rem;
    margin-top: 10rem; */
    margin-left: 35rem;
    margin-top: 40rem;
}
#innisfree{
    /* margin-left: 75rem;
    margin-top: 25rem; */
    margin-left: 75rem;
    margin-top: 40rem;
}
#skinfood{
    margin-left: 95rem;
    margin-top: 40rem;
}