footer{
    background-color: rgba(145, 91, 66, 1);
    color: rgba(224, 209, 202, 1);
    text-align: center;
}
footer h2{
    padding: 20px;
    font-size: 40px;
    margin-top: 0px;
}
footer div a{
    padding: 20px;
    color: rgba(224, 209, 202, 1);
    font-size: 30px;
}
#company{
    padding: 20px;
}