/*更多商品*/
#relative {
    background-color: rgba(231, 226, 219, 1);
}

#relative>table {
    margin: 0px auto 0px auto;
    padding-bottom: 60px;
}

#more_product {
    text-align: center;
    font-size: 30px;
    padding: 40px;
}

figure {
    width: 20rem;
    position: relative;
    margin-right: 80px;
    /* background-color: white; */
    
}

figure a {
    text-decoration: none;
    color: rgba(122, 76, 55, 1);
    font-size: 18px;
}

figure img {
    width: 100%;
    height: 20rem;
    /* max-height: 100%; */
}

.seemore {
    font-size: 20px;
    color: rgba(224, 209, 202, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay {
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
    background-color: rgba(122, 76, 55, 1);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .4s ease;
}
figure:hover .overlay {
    height: 20%;
  }

figcaption>p {
    margin-bottom: 0em;
}

.price {
    display: inline-block;
    margin-left: 10rem;
    margin-top: 5px;
}

.rawprice {
    display: inline-block;
    font-size: 16px;
    color: rgba(116, 133, 148, 1);
    text-decoration: line-through;
    margin-top: 0em;
}